*{
 margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}
#main_login_button{
  color: white;
  background-color: green;
  font-size: medium;
   width: 41.4vw;
  margin:15px 2px;
  height: 29px;
  border: none;
  
}
.main{
  height: 54vh;
  width: 42vw;
  border:2px green solid;
  border-radius:4%;
  margin: 20vh 28vw;
  background-color: #f2f2f2;
}

.main h1{
  border-bottom: 1px black solid;
  margin:17px 0;
}
#setpass, #username,#fullName{
  width: 41vw;
  height: 25px;
  margin:0 2px;
}
.setpasswo,.user{
  margin-top: 8px;
}
.name{
  margin-top: 20px;
}














